<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>The Legend of Zelda Hyrule Conquest</title>
    <organization>Summit Games</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <font>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </font>

  <gui>
    <atlas file="gui/ProvisionalAtlas.png"/>
  </gui>
    
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <inputManager>
    <!--JUMP-->
    <action  button="0" event="0" />

    <!--Move UP-->
    <action  button="11" event="1" />

    <!--Move DOWN-->
    <action  button="12" event="2" />

    <!--Move LEFT-->
    <action  button="13" event="3" />

    <!--Move RIGHT-->
    <action  button="14" event="4" />

    <!--PAUSE-->
    <action  button="6"  event="5" />


  </inputManager>

</config>